  html,
  body,
  header,
  nav,
  h1,
  a,
  ul,
  li,
  strong,
  main,
  button,
  i,
  section,
  img,
  div,
  h2,
  p,
  form,
  fieldset,
  label,
  input,
  textarea,
  span,
  article,
  footer,
  time,
  small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
  }

  ul {
    list-style: none;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  input[type="password"],
  input[type="email"],
  input[type="text"],
  input[type="submit"],
  textarea,
  button {
    /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  button,
  input[type="submit"] {
    cursor: pointer;
  }




/*    ************************************* */




















.home-page {
  background: rgb(238, 238, 238);
}

.splash-zone {
  
}

.splash-background {
  background: image-url("cover.jpg");
  background-color: rgb(100, 100, 100);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover; 
  height: 655px;
  background-repeat: no-repeat;
}

.homepage-title-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.homepage-title-text {
  color: #ffffffbe;
  margin-top: 160px; 
  font-size: 44px;
  letter-spacing: 2px;
  vertical-align: middle;
}

.homepage-title-subtext {
  margin-top: 25px;
  color: #ffffffdc;
  font-size: 18px;
  font-family: cadgallerytrue;
}

.projects-title-div {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-headers {
  margin-top: 50px;
  color: #0696d7;
  font-size: 35px;
}

.projects-index-container {
  display: flex;
  flex: roll;
  flex-wrap: wrap;
  justify-content: center;
}

.project-cover-container {
  height: 300px;
  width: 32vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-cover-picture {
  background: white;
  height: 87%;
  width: 91%;
  object-fit: cover;
  transition-timing-function: linear;
  -webkit-transition: width .35s, height .35s;
}

.project-cover-picture:hover {
  height: 95%;
  width: 95%;
  background-blend-mode: overlay;
  opacity: 0.8; // object-fit: cover
}

.footer-create-button-container {
  width: 100%;
  height: 230px;
  background: #0095D5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-project-button {
  letter-spacing: 1.25px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  width: 403px;
  height: 82px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background: #0095D5;
}

.create-project-button:hover {
  border: 2px solid white;
}

.footer-bar {
  width: 100%;
  height: 60px;
  background: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fix-logo-position {
  margin-right: 50px;
}

.get-started-button{
  
}